﻿@model IEnumerable<CraftCamp.Web.Models.Places>

@{
    ViewBag.Title = "PlacesList";
}
<h2>List of the Places!</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database!!!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().ID)</th>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Phone)</th>
            <th>@Html.DisplayNameFor(m => m.First().Capacity)</th>
            <th>@Html.DisplayNameFor(m => m.First().City)</th>
            <th>@Html.DisplayNameFor(m => m.First().Street)</th>
            <th>Datasheet</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.ID)</td>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m => item.Phone)</td>
            <td>@Html.DisplayFor(m => item.Capacity)</td>
            <td>@Html.DisplayFor(m => item.City)</td>
            <td>@Html.DisplayFor(m => item.Street)</td>
            <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</td>
            <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</td>
            <td>@Html.ActionLink("[DEL]", "Delete", new { id = item.ID })</td>
        </tr>
        }
    </table>
}



