﻿@model CraftCamp.Web.Models.PlacesViewModel
@{
    ViewBag.Title = "PlacesIndex";
}

<h2>Places - CRUD</h2>

<p style="color:red">
    @TempData["editResult"]
</p>
<hr style="border:10px solid green; border-radius:5px;" />
@Html.Partial("PlacesAdd", Model.newPlace)
<hr style="border:10px solid green; border-radius:5px;" />
@Html.Partial("PlacesList", Model.ListOfPlaces)
<hr style="border:10px solid green; border-radius:5px;" />
@if (Model.editedPlace.ID != 0)
{
    @Html.Partial("PlacesEdit", Model.editedPlace)
    <hr style="border:10px solid green; border-radius:5px;" />
}

