﻿@model CraftCamp.Web.Models.Places

@{
    ViewBag.Title = "PlacesEdit";
}

<h2>Edit the selected Place!</h2>

@using (Html.BeginForm("Edit", "Places", FormMethod.Post))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Phone)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Phone)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Capacity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Capacity)</div>

    <div class="editor-label">@Html.LabelFor(m => m.City)</div>
    <div class="editor-field">@Html.EditorFor(m => m.City)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Street)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Street)</div>

    <input type="submit" value="MODIFY" />
}


