﻿@model CraftCamp.Web.Models.Places
@{
    ViewBag.Title = "PlacesDetails";
}

<h2>Details of the Place!</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Phone)</td>
        <td>@Html.DisplayFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Capacity)</td>
        <td>@Html.DisplayFor(m => m.Capacity)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.City)</td>
        <td>@Html.DisplayFor(m => m.City)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Street)</td>
        <td>@Html.DisplayFor(m => m.Street)</td>
    </tr>
</table>