﻿@model CraftCamp.Web.Models.Places

@{
    ViewBag.Title = "PlacesAdd";
}

<h2>Add new Place!</h2>

@using (Html.BeginForm("Add", "Places", FormMethod.Post))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Phone)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Phone)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Capacity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Capacity)</div>

    <div class="editor-label">@Html.LabelFor(m => m.City)</div>
    <div class="editor-field">@Html.EditorFor(m => m.City)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Street)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Street)</div>

    <input type="submit" value="CREATE" />
}




